* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background: grey;
}
#nav {

height: 50px;
width: 100%;
background: grey;
display: flex;
justify-content: flex-start;
align-items: center;
background:  white;
}
#main {
display: grid;
  height: 50vh;
  margin: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
 
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background: pink;
}
li {
    display: inline;
    text-decoration: none;
    list-style: none;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
footer {
    background: white;
    height: 50px;
    margin-top: 100px;
}
   




