html body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background: grey;
    font-family: monospace
}
#nav {
height: 50px;
display: flex;
justify-content: flex-start;
align-items: center;
background:  white;
text-align: center;
}
#main {
display: grid;
  height: 50vh;
  margin: 2rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background: darkgray;
}
 li {
    display: inline;
    text-decoration: none;
    list-style: none;
    text-align: right;
    color: black;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}
footer {
    display: grid;
    margin-top: 200px;
    background: white;
    height: 50px;
    /* margin-top: 100px; */
}
header {
    padding: 1rem;
    font-size: 2em;

}
   




