* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body {
    background:black;
    font-family: monospace;
    width: 100%;
}
.button {
    margin: 20px 50px;
    padding: 1rem;
}
button {
    padding: 0.5rem;
    font-size: 0.7rem;
    border-radius: 5px;
    outline: none;
}

#title {
    color: hsla(95, 97%, 20%, 1);
    padding-top: 5px;
    font-size: 3rem;
    margin-left: 35px;
}
nav {
    height: 100px;
}
#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;
    padding: 50px;
}
table {  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    text-align: center;
    background: hsla(95, 97%, 20%, 1); 
    padding: 25px;
    height: 30px;
    width: 245px;
}
h3 {
    text-align: center;
}
.link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin-left: 18px;
    font-style: italic;
    text-transform: capitalize;
    list-style-type: none;
    background:black;
    color: hsla(95, 97%, 20%, 1);
    transition: all 1s ease; 
}
.link:hover {
    color: white;
    cursor: pointer;
}

